@media screen and (max-width: 600px) {
  .menu-container ul{
    flex-direction: column !important;
  }
  .insta-elemento-maori, .loto-maori, .mat-maori {   
    background-size: 100% auto !important;
    min-height: 400px !important;
  }
  #footer {
    flex-direction: column !important;
  }
}
@media screen and (max-width: 1150px) {
  .menu-container{
    justify-content: start !important;
  }
  .menu-container ul{
    flex-direction: column !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 1328px) {
  #footer {
    flex-direction: column !important;
  }
}
@media screen and (min-width: 900px) {

}

/*stylo general de paginas*/
html{
  height: 100%;
  width: 100%;
}
body{
    font-family: "roboto", Helvetica, sans-serif;
    display: inline-block;
    align-items: center;
    text-align: center;        
    background-color:rgba(35, 49, 59, 0.9);     
    height: 100%;
    padding: 0px;
    margin: 0px;
}
p {
  font-family: 'Tekton Pro';
  margin: 3px;
  font-size: 33px;
  padding: 15px 15px;
  color: #191a1e;     
}
div{
  background-color: rgb(169,169,169);  
  border-color: hsla(219, 73%, 54%, 0.63);
  border-style: groove;
}
div{
    margin: 9px 9px;
}
h2{
  background-color: rgba(25,26,30,0.8);  
  color: #cc3366;
  border-width: 5px;
  border-style: solid;
  border-color: thistle;
  border-radius: 30%;  
  max-width: 700px;
  /*margin: 10px 0px 50px 150px;*/
  padding: 17px;
  font-size: 48px;
  font-family: 'Cooper Black', sans-serif;
}
/* Enlaces a redes sociales */
#social{  
  margin: 5px 0px;
  padding: 10px 0px;
  display: inline;
}
.redsocial{
  display: inline;
  background-color: inherit;
  margin: 5px 5px;
}
.socialbtn{
   display: inline;
   margin: 11px 5px 11px 11px;      
}  
/* Menu de la pagina index */
#menu{
  border-width: 0px;
  border-bottom: 5px;
  background-color:rgba(35, 49, 59, 0.9);     
  border-style: solid;
  margin: 0px 0px;
  padding: 0px;
  border-color: darkorange;  
  font-size: 29px;
  vertical-align: auto;  
  position: fixed;
  width: 100%;
  min-height: 90px;
  max-height: 190px;
  overflow: scroll;
}
.menu-container{
  justify-content: center;
  display: flex;
}
.menu-container ul{
  display: flex;
  flex-direction: row;
}
.menuicono{
    height: 50px;
    width: 50px;    
    vertical-align: middle;
}  
.menubtn{
  display: inline;
}
.menupagina:hover{
  background-color: hsla(219, 73%, 54%, 0.63);
  text-decoration: none;
}
.menupagina{
  display: inline-flex;
  vertical-align: middle;
  background-color: #cccccc;
  border-color: midnightblue;
  border-width: 1px;
  padding: 11px;
  border-style: solid;
  border-radius: 25px;
}
a{
  color: #33ccff;  
}
/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}
 /* unvisited link */
a:link {
  color: goldenrod;
}
/* visited link */
a:visited {
  color: #cc3366;
}
/* selected link */
a:active {
  color: black;
} 
.imgFondo{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.seccionNoticias{
  background: rgb(169,169,169) url(../imagenes/wallpaper-yoga.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;    
  padding-top: 130px;    
  text-align: center;  
}
.contenidos{
  background: rgb(169,169,169) url(../imagenes/Esfuerzo_Yoga.jpg) no-repeat center; 
  background-size: cover;
}
.contenidosimg{
  margin: 15px 32px;
  border-color: rgb(153, 50, 204);
  border-width: 6px;
  border-style: solid;
  max-width: 1000px;
}
.banner-Maori_2{
  background: rgb(169,169,169) url(../imagenes/BannerMaori2.png) no-repeat center;
  background-size: 100% 100%;
  min-height: 315px
}
.insta-elemento-maori{
  background: rgb(169,169,169) url(../imagenes/InstaElementoMaori.gif) no-repeat center;
  background-size: 100% 100%;
  min-height: 800px
}
.loto-maori{
  background: rgb(169,169,169) url(../imagenes/Loto.png) no-repeat center;
  background-size: 100% 100%;
  min-height: 800px
}
.mat-maori{
  background: rgb(169,169,169) url(../imagenes/Mat.png) no-repeat center;
  background-size: 100% 100%;
  min-height: 800px
}
.button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"roboto";
	font-size:23px;
	font-weight:bold;
  font-style:italic;
  margin-top: 50px;
	padding:16px 28px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2b665e;
}
.button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color:#6c7c7c;
}
.button:active {
	position:relative;
	top:1px;
}
.menutexto:link {
  color:  blue;
}
/* visited link */
.menutexto:visited {
  color: cornflowerblue;
}
/* Formulario newsletter*/
#suscribirse{
  padding: 30px 30px;
  margin: 0px;
  align-items: center;
  text-align: center;
  position: relative;
}
#suscribirse::before{    
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  }
.input{
    width: 500px;
    font-size: 21px;
    font-family: "roboto";
    text-align: center;
}
#suscribirse-form{
  background: rgba(51, 51, 102, 0.7) url(../imagenes/kisspng.png) no-repeat center;    
  background-size: 100%;
  width: auto; 
  min-height: 110%; 
  min-width: 480px;
  padding: 90px 40px;   
  border-color: rgba(250, 128, 114, 0.7);
  border-width: 9px;  
  border-style: solid;
  display: flex;
  justify-content: center;
}
#suscribirse-form label {
  font-size: inherit !important;
  color: #ffffff !important;
}
#suscribirse-form input {
  font-size: inherit !important;
  color: #9e9e9e !important;
}
#footer {
  display: flex;
  flex-direction: row;
  background:rgba(35, 49, 59, 0.9) url(../imagenes/Uso_de_Mat.png) no-repeat center; 
  min-height: 500px;
  background-size: cover;  
  font-family: "Tekton Pro";
  color: #cccccc;
  font-size: 33px;  
  align-items: center;
  align-content: center;  
  width: 100%;  
}
#contacto{
  align-content: center;    
  padding: 11px 110px;
}
.textocontacto{
  color: #ffffff;
  font-size: 39px;
  font-family: 'Tekton Pro';
}
.derechos{
  background-color: hsla(219, 73%, 54%, 0.63);
  flex-direction: column;
  margin: 0px;
  padding: 0px 10px;  
  width: 100%;
}
.derechos2020{
  color: #cccccc;
  font-family: "monserrat", sans-serif;
  font-size: 29px;  
  width: 100%;
}
#socialfooter{
  
}