/*stylo general de paginas*/
body{
    font-family: "titilium web", Helvetica, sans-serif;
    display: inline-block;
    align-items: center;
    text-align: center;        
    background-color:rgba(35, 49, 59, 0.9);     
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
p {
  font-family: "monserrat";
  margin: 3px;
  font-size: 29px;
  padding: 15px 15px;
  color: #191a1e;     
}
div{
  background-color: rgb(169,169,169);  
  border-color: hsla(219, 73%, 54%, 0.63);
  border-style: groove;
}
div{
    margin: 9px 9px;
}
h1{
  background-color: rgb(169,169,169);  
  color: #cc3366;
  border-width: 5px;
  border-style: solid;
  border-color: thistle;
  border-radius: 30%;
  margin: 6px 6px;
  padding: 17px;
  font-size: 48px;
}
/* Enlaces a redes sociales */
#social{  
  margin: 5px 9px;
  padding: 10px 0px;
  display: inline;
}
.redsocial{
  display: inline;
  background-color: inherit;
}
.socialbtn{
   display: inline;
   margin: 10px 25px;      
}  
/* Menu de la pagina index */
#menu{
  border-width: 0px;
  border-bottom: 5px;
  background-color:rgba(35, 49, 59, 0.9);     
  border-style: solid;
  margin: 0px 0px;
  padding: 0px;
  border-color: darkorange;  
  font-size: 29px;
  vertical-align: auto;  
}
.menuicono{
    height: 50px;
    width: 50px;    
    vertical-align: middle;
}  
.menubtn{
  display: inline;
}
.menupagina:hover{
  background-color: hsla(219, 73%, 54%, 0.63);
  text-decoration: none;
}
.menupagina{
  display: inline-flex;
  vertical-align: middle;
  background-color: #cccccc;
  border-color: midnightblue;
  border-width: 1px;
  padding: 11px;
  border-style: solid;
  border-radius: 25px;
}
a{
  color: #33ccff;  
}
/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}
 /* unvisited link */
a:link {
  color: goldenrod;
}
/* visited link */
a:visited {
  color:  blue;
}
/* selected link */
a:active {
  color: black;
} 
.contenidosimg{
  margin: 15px 32px;
  border-color: rgb(153, 50, 204);
  border-width: 6px;
  border-style: solid;
}
.button {
    margin: 15px;
    background-color: #555555;; /* black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}
.button:hover {
  color: hotpink;
  text-decoration: none;
}
/* Formulario newsletter*/
#suscribirse{
  padding: 30px 30px;
  margin: 15px;
  align-items: center;
  text-align: center;
  position: relative;
}
#suscribirse::before{    
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  }
.input{
    width: 500px;
    font-size: 21px;
    font-family: "roboto";
    text-align: center;
}
form{
  background: #333366 url(../imagenes/kisspng.png) no-repeat center;    
  width: 790px; 
  height: 130px;
  padding: 190px 50px;   
  border-color: salmon;
  border-width: 5px;
  border-style: solid;
}
#footer {
  display: flex;
  flex-direction: row;
  background-color:rgba(35, 49, 59, 0.9); 
  font-family: "roboto";
  color: #cccccc;
  font-size: 29px;  
  align-items: center;
}
#contacto{
  align-content: center;    
}
.textocontacto{
  color: #cccccc;
  font-size: 29px;
  font-family: 'Tekton Pro';
}
.derechos{
  background-color: hsla(219, 73%, 54%, 0.63);
  flex-direction: column;
  margin: 0px;
  padding: 0px 10px;  
}
.derechos2020{
  color: #cccccc;
  font-family: 'Cooper Black';
  font-size: 37px;
}